/*
 * Globals
 */
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #2c231b;
  text-shadow: none;
  /* Prevent inheritance from `body` */
}

.btn-light {
  color: #fdf8ec;
  background-color: #2b70ef;
  border-color: #2b70ef;
}
/*
 * Base structure
 */
body {
  text-shadow: none;
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
  background-color:#fdf8ec;
  font-size: 1.125rem;
  line-height: 1.42857143;
  color: #2c231b;
}

h1, h2, h3, h4, h5, h6 {
    font-family: aileron, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #2b70ef;

}

h3 {
  font-size: 24px;
  color: #2c231b;
}

h1 {
  text-transform: none;
  font-weight: 700;
  font-size: 48px;
}

.cover-container {
  max-width: 80%;
}

.card img{
  margin-bottom: 4%;
}

/*
 * Header
 */

 *, ::after, ::before {
 	box-sizing: border-box;
 }

 #header * {
 	transition: ease-in-out 0.3s;
 }

#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #fdf8ec;
}

#header.header-top .navbar {
	margin: 0;
}

#header.header-top h1 {
	margin-right: auto;
	font-size: 24px;
}

#header.header-top .container {
	display: flex;
	align-items: center;
}


div.tab-content div.tab-pane.show {
	top: 100px;
	bottom: auto;
	opacity: 1;
	padding-bottom: 45px;
}

 div.tab-content div.tab-pane {
	overflow: hidden;
	position: absolute;
	width: 100%;
	top: 140px;
	bottom: 100%;
	/* opacity: 0; */
	transition: ease-in-out 0.4s;
	z-index: 2;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-weight: 400;
  color: #2c231b;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}



.nav-link {
  padding: 0;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: #7c9bd1;
}

.nav-link.active {
  font-weight: bolder;
}
.navbar li + li {
  margin-left: 30px;
}
.navbar li {
	position: relative;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}


.navbar a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #a78765;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover::before, .navbar li:hover > a::before, .navbar .active::before {
  visibility: visible;
  width: 25px;
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #2b70ef;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 35px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fdf8ec;
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li+li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #2c231b;
	background-color: transparent;
}


.social-links {
  margin-top: 40px;
  display: flex;
}

.social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a78765;
  color: #2c231b;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

.img-circle {
  width: auto;
  height: 200px;
  border-radius: 50%;
  margin:2%;
}

.img-circle-head {
  margin-right: 20px;
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.accordion-body {
  text-shadow:none;
  color:black;
}
.accordion-item {
border: none;
}

main {
  padding-top:10px;
}

footer {
  margin-top:10px;
}

.Martin.J\..Kraemer{
font-weight: bold;
}

.Martin.Kraemer{
font-weight: bold;
}

.bibtexentry div{
  margin-bottom: 10px;
}

.bibtexentry {
  display: flex;
}
/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/
.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: #a78765;
  z-index: 999999;
}

@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;

  }
}

.credits a {
  color: #a78765;
  transition: 0.3s;
}

.credits a:hover {
  color: #a78765;
}

.container h2::after {
	
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #a78765;
	margin: 4px 10px;
	content: "";
}
.container h2 {
	font-size: 16px;
	font-weight: 500;
	padding: 0;
	margin: 0 0 20px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.resume-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}

.resume-item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: #2b70ef;
	border: 2px solid #2b70ef;
}

.resume-item {
	padding: 0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid rgba(255, 255, 255, 0.2);
	position: relative;
}
.resume-item h4 {
	line-height: 18px;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}
